<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_background_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamSOS"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity: For user authentication -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/appbar_item_login" />

        <!-- AnnouncementActivity: Display announcements -->
        <activity
            android:name=".AnnouncementActivity"
            android:label="@string/appbar_item_announcement" />

        <!-- SettingsActivity: Application settings and preferences -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/appbar_item_settings" />

        <!-- AboutUsActivity: About the application -->
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/appbar_item_about_us" />

        <!-- QuizActivity: Quiz section -->
        <activity
            android:name=".QuizActivity"
            android:label="@string/level_page_name" />

        <!-- NotesActivity: Note-taking section -->
        <activity
            android:name=".NotesActivity"
            android:label="@string/note_page_name" />

    </application>

</manifest>